html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1460667069066-7514997310c9?dpr=2&auto=format&crop=entropy&fit=crop&w=1199&h=794&q=80&cs=tinysrgb') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

/* Header Style */

.header-main {
    width: 100%;
    height: 10%;
    padding: 20px 40px 0 40px;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.spacer {
  width: 50px;
}

.title  a{
    width: 350px;
    font: 30px 'Oswald', sans-serif;
    font-weight: lighter;
    color: #383737;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: none;
}

.ham {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background: url('https://cdn1.iconfinder.com/data/icons/basic-ui-elements-plain/422/06_menu_stack-128.png') center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.top-hr {
    position: relative;
    border: 1px solid #ECECEC;
}

/* Body Style */

.body-main {
    width: 100%;
    height: 70%;
    padding: 0 125px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.input-main {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.input-p {
    width: 100%;
    height: 10%;
    font: 16px 'Oswald', sans-serif;
    color: #383737;
    letter-spacing: 1px;
    text-align: center;
}

.input-p a {
    color: #EEEDED;
    text-decoration: none;
    text-shadow: -1px 1px black;
}

.input-text-wrapper {
    width: 100%;
    height: 85%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.input-text::-webkit-input-placeholder {
    color: #EEEDED;
    text-shadow: -1px 1px black;
}

.fullName {
    width: 100%;
    height: 8%;
    margin: 0 auto 5px;
    font: 20px Lora-Regular;
    background: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.name {
    width: 49%;
    height: 100%;
}

.name textarea {
    width: 100%;
    height: 100%;
}

.name textarea::-webkit-input-placeholder {
    font: 20px Lora-Regular;
    color: #EEEDED;
    text-shadow: -1px 1px black;
}

textarea {
    height: 8%;
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto 5px;
    padding-left: 3px;
    font: 20px Lora-Regular;
    outline: none;
    color: #EEEDED;
    text-shadow: -1px 1px black;
    border: 1px solid #EEEDED;
    background: transparent;
    resize: none;
    overflow: hidden;
}

textarea:focus {
    border: 1px solid #00ffE9;
}

.bio {
    height: 60%;
}

.input-text-wrapper a {
    color: #A9A9A9;
    text-decoration: none;
}

button:focus {
  outline: none;
  border: 2px solid #A9A9A9;
}
.save {
    width: 100%;
    font-size: 20px;
    color: #A9A9A9;
    text-align: center;
    border: none;
    background: #00ffE9;
}

.triangle-main {
    width: 55%;
    height: 100%;
    margin-top: 15px;
    margin-right: -80px;
    overflow: hidden;
    position: relative;
}

.back-triangle {
    width: 0;
    height: 0;
    margin: 40px 0 0 20px;
    position: relative;
    border-bottom: 250px solid #00ffE9;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    transform: rotate(-50deg);
}

.front-triangle {
    width: 100%;
    padding-bottom: 335.55px;
    /* = width / sqrt(2) */
    margin: -375px 0 0 30px;
    position: relative;
    overflow: hidden;
    transform-origin: 0 100%;
    transform: rotate(5deg);
}

.front-triangle:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('http://25.media.tumblr.com/tumblr_m9im5eNxv91qcu0ewo1_500.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transform-origin: 0 100%;
    transform: rotate(45deg);
}


/* Footer Style */

.bottom-hr {
    width: 80%;
    margin-top: 40px;
    border: 1px solid #ECECEC;
}

.footer-main {
    width: 80%;
    height: 20%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

a.footer-opt:hover {
    color: #00ffE9;
}

a.footer-opt {
    width: 15%;
    height: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    color: #A9A9A9;
    text-shadow: -1px 1px black;
    text-decoration: none;
}


/* Landing Page css */

.thumbnail-main {
    width: 5%;
    height: 100%;
    margin-right: -40px;
    position: relative;
    display: block;
}

.bottom-border {
    width: 100%;
    height: 100%;
    margin-left: -60px;
    position: absolute;
    overflow: hidden;
    border-bottom: 2px solid transparent;
    z-index: 2;
}

.bottom-border:hover {
    border-bottom: 2px solid #00ffE9;
}

.profile-thumbnail {
    width: 100%;
    height: 100%;
    margin-top: -40px;
    padding-bottom: 35.355px;
    position: relative;
    overflow: hidden;
    transform-origin: 0 100%;
    transform: rotate(-135deg);
    z-index: 1;
}

.profile-thumbnail:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('http://25.media.tumblr.com/tumblr_m9im5eNxv91qcu0ewo1_500.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
}

.profile-main {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.firstName {
    width: 100%;
    height: 15%;
    padding-left: 20px;
    font: 50px 'Oswald', sans-serif;
    letter-spacing: 4px;
    color: #383737;
    text-align: left;
}

.lastName {
    width: 100%;
    height: 15%;
    padding-right: 50px;
    margin-top: -10px;
    font: 50px 'Oswald', sans-serif;
    letter-spacing: 4px;
    color: #383737;
    text-align: center;
}

.tagline {
    width: 100%;
    height: 5%;
    padding-left: 5px;
    margin-top: 5px;
    font-size: 18px;
    letter-spacing: 3px;
    color: #383737;
}

.profile-bio {
    width: 100%;
    height: 65%;
    padding-left: 20px;
    padding: 5px;
    color: #EEEDED;
    text-shadow: -0.5px 1px #383737;
    letter-spacing: 1px;
}


/* View Friends Css */

.back-arrow {
    width: 25px;
    height: 25px;
    margin: 5px 2px;
    position: absolute;
    overflow: hidden;
    background: url('images/icons/Back-Arrow.svg') center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.friends-main {
    width: 40%;
    height: 100%;
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow: hidden;
}

.friend-finder {
    width: 100%;
    height: 8%;
    padding: 6px 5px;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.5);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border: 1px solid #A9A9A9;
}

.sorter {
    width: 25%;
    height: 70%;
    margin-top: 4px;
    font-size: 12px;
    border: 1px solid #383737;
    color: #383737;
    letter-spacing: 3px;
    text-align: center;
}

.friend-search {
  width: 73%;
  height: 95%;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.friend-search-box {
  width: 100%;
  display: none;
  background: transparent;
  border: 1px solid #383737;
  color: #383737;
  text-indent: 3px;
  z-index: 0;
}

.friend-search-box::-webkit-input-placeholder {
  color: #383737;
  letter-spacing: 1px;
}

.friend-title {
    width: 25%;
    height: 100%;
    margin-left: -50px;
    margin-top: -5px;
    position: absolute;
    font: 20px 'Oswald', sans-serif;
    color: #383737;
    letter-spacing: 2px;
    z-index: 1;
}

.friend-search-icon {
    width: 10%;
    height: 90%;
    margin-top: 3px;
    margin-right: -270px;
    background: url('https://cdn1.iconfinder.com/data/icons/user-interface-elements/154/search-loop-512.png') center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.friend-search-icon:hover .friend-search-box{
  display: block;
}

.friends-profiles {
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.friend-box {
    width: 45%;
    height: 32%;
    border: 2px solid #A9A9A9;
    margin-bottom: 7px;
    overflow: hidden;
}

.friend-box:hover div {
    margin-left: 0;
}

.box-hover {
    width: 100%;
    height: 100%;
    margin-left: -183px;
    padding: 30px 15px;
    background: rgba(200, 200, 200, 0.5);
}

.friend-name {
    width: 100%;
    height: 20%;
    text-align: center;
    margin-bottom: 20px;
    font: 18px 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.view-profile {
    width: 100%;
    height: 30%;
    font: 12px 'Oswald', sans-serif;
    letter-spacing: 3px;
    border: 1px solid #A9A9A9;
    text-align: center;
}

.view-profile:hover {
    border-color: #00ffE9;
}


/* Find Friends CSS */

.finder-main {
    width: 100%;
    height: 8%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.find-friend {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.5);
    border: 1px solid #A9A9A9;
    font: 20px 'Oswald', sans-serif;
    color: #383737;
    letter-spacing: 2px;
    text-shadow: none;
}

.find-friend::-webkit-input-placeholder {
    font: 20px 'Oswald', sans-serif;
    color: #383737;
    letter-spacing: 2px;
    text-shadow: none;
}


/* Update Profile CSS */

.update-profile-main {
    width: 40%;
    height: 100%;
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.profile-settings {
    width: 100%;
    height: 8%;
    font: 20px 'Oswald', sans-serif;
    color: #383737;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(169, 169, 169, 0.5);
    border: 1px solid #A9A9A9;
}

.pro-back {
    letter-spacing: 2px;
    background-color: rgba(169, 169, 169, 0.5);
    border: 1px solid #A9A9A9;
}

.pro-back::-webkit-input-placeholder {
    color: #383737;
    letter-spacing: 2px;
    text-shadow: none;
}


/* Friend Profile CSS */

.addFriend {
    width: 100%;
    font-size: 20px;
    color: #A9A9A9;
    text-align: center;
    border: none;
    background: #00ffE9;
}
