<!DOCTYPE html>
<html lang="en" ng-app="devMountainSocial">

	<head>
		<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DevMountain Social</title>
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="file:///Users/brockgledhill/repos/dev-mt-in/style.css">
	</head>

	<body ng-controller="mainCtrl">

		<!-- Header -->
<!--		<header class="header-main">
			<div class="search-box">
				<div class="search-icon"></div>
				<textarea class="search-text" wrap="off" maxlength="25"></textarea>
			</div>
			<a class="title" href="file:///Users/brockgledhill/repos/dev-mt-in/index.html">DevMountain Social</a>
			<div class="ham"></div>
		</header>

		<hr class="top-hr"/>
-->
		<!-- Main Body Content -->
		<div class="body-container">
				<div class="profile-main">
					<p class="fullName">Brock<br/>Gledhill</p>
					<p class="tagline">Something Awesome About You</p>
					<p class="profile-bio">Where's Einstein, is he with you? On the night
						I go back in time, you get- Doc. Oh. Our first television set, Dad
						just picked it up today. Do you have a television? Where does he
						come from?
						<br/><br/>
						Uh, well, actually, I figured since it wasn't due till Monday- Ah,
						where're my pants? Perfect, just perfect. Alright, okay. Alright,
						there she is, George. Just go in there and invite her. Uh, well,
						actually, I figured since it wasn't due till Monday-
					</p>
				</div>
				<ui-view></ui-view>
<!--			<div class="triangle-main">
				<div class="back-triangle"></div>
				<div class="front-triangle"></div>
			</div>
		</div>

		<hr class="bottom-hr"/>  -->

		<!-- Footer Div -->
<!--		<div class="footer-main">
			<a class="footer-opt" ui-sref="file:///Users/brockgledhill/repos/dev-mt-in/views/viewFriends.html">View Friends</a>
			<a class="footer-opt" href="file:///Users/brockgledhill/repos/dev-mt-in/views/findFriends.html">Find Friends</a>
			<a class="footer-opt" href="file:///Users/brockgledhill/repos/dev-mt-in/views/updateProfile.html">Update Profile</a>
		</div>
-->
		<!-- JS Links -->
<!--
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
		<script src="js/script.js"></script>
		<script src="js/app.js"></script>
		<script src="js/mainCtrl.js"></script>
		<script src="js/mainSrvc.js"></script>
-->
	</body>
</html>
