<!DOCTYPE html>
<html lang="en" ng-app="devMountainSocial">

	<head>
		<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DevMountain Social</title>
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="file:///Users/brockgledhill/repos/dev-mt-in/style.css">
	</head>

	<body ng-controller="mainCtrl">

		<!-- add <ui-view></ui-view> or <div ui-view></div> can also have <div ui-view=""></div> -->
		<!-- <nav><a ui-sref="html view"><a> -->

		<!-- Header -->
		<header class="header-main">
			<div class="search-box">
				<div class="search-icon"></div>
				<textarea class="search-text" wrap="off" maxlength="25"></textarea>
			</div>
			<a class="title" href="file:///Users/brockgledhill/repos/dev-mt-in/index.html">DevMountain Social</a>
			<div class="ham"></div>
		</header>

		<hr class="top-hr"/>

		<!-- Main Body Content -->
		<div class="body-main">
			<div class="input-main">
				<p class="input-p">Welcome to
					<a href="https://www.devmountain.com">DevMountain</a> Social
					<br/> Add Some Info So Friends Can Find You
				</p>
				<div class="input-text-wrapper">
					<textarea class="input-text" placeholder="Full Name"></textarea>
					<textarea class="input-text" placeholder="Tagline"></textarea>
					<textarea class="input-text" placeholder="Profile Image Url"></textarea>
					<textarea class="input-text bio" placeholder="Bio"></textarea>
					<div class="save"><a href="file:///Users/brockgledhill/repos/dev-mt-in/views/home.html">Save Changes</a></div>
				</div>
			</div>
			<div class="triangle-main">
				<div class="back-triangle"></div>
				<div class="front-triangle"></div>
			</div>
		</div>
		<hr class="bottom-hr"/>

		<!-- Footer Div -->
		<div class="footer-main">
			<a class="footer-opt" href="file:///Users/brockgledhill/repos/dev-mt-in/views/viewFriends.html">View Friends</a>
			<a class="footer-opt" href="file:///Users/brockgledhill/repos/dev-mt-in/views/findFriends.html">Find Friends</a>
			<a class="footer-opt" href="file:///Users/brockgledhill/repos/dev-mt-in/views/updateProfile.html">Update Profile</a>
		</div>

		<!-- JS Links -->
		<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
		<script src="file:///Users/brockgledhill/repos/dev-mt-in/js/script.js"></script>
		<script src="file:///Users/brockgledhill/repos/dev-mt-in/js/app.js"></script>
		<script src="file:///Users/brockgledhill/repos/dev-mt-in/js/mainCtrl.js"></script>
		<script src="file:///Users/brockgledhill/repos/dev-mt-in/js/mainSrvc.js"></script>

	</body>
</html>
